In [2]:
var01 = 3
var02 = 4

In [3]:
print('덧셈 : ', var01 + var02 , '\n뺄셈 : ' , var01 - var02 , '\n곱셈 : ', var01 * var02)
print('실수 나눗셈 : ', var01 / var02 , '\n정수 나눗셈 몫 : ' , var01 // var02 , '\n정수 나눗셈 나머지 :' , var01 % var02 )
print('제곱 : ' , var01 ** 2 )

덧셈 :  7
뺄셈 :  -1
곱셈 :  12
실수 나눗셈 :  0.75
정수 나눗셈 몫 :  0
정수 나눗셈 나머지 : 3
제곱 :  9

In [5]:
print('거듭제곱' , var01 ** 2)
print('거듭제곱' , pow(var01, 2))
print('aaa' +'bbbb')
print('aaa' ,'bbbb')

거듭제곱 9
거듭제곱 9
aaabbbb
aaa bbbb

## 파이썬 모듈을 이용한 수학계산 (강사님 pick : numpy)
### 여러 모듈이 있으니 내가 선택해서 사용

In [18]:
import math

In [19]:
# 거듭제곱 
math.pow(var01 , 2)

9.0

In [20]:
# 제곱근
math.sqrt(var01)

1.7320508075688772

In [25]:
# sin 45도
math.sin(45)

0.7240368080645851

In [28]:
# sin 45 ^ 2 + cos45 ^ 2
math.pow( math.sin(45) , 2) + math.pow( math.cos(45) , 2)

1.0

### 난수발생

In [29]:
# 난수발생 모듈 불러오기
import random

In [33]:
random.randint(1, 100) # 1 ~ 100 사이에 있는 난수 1개 발생

16

In [39]:
list(range(1 , 10)) # range(start, stop(포함하지 않음)) 

lotto_list = range(1, 46) # 1 ~ 45
random.sample(lotto_list, 6)

[30, 6, 34, 17, 33, 31]

In [41]:
# 반올림
print(round(123.45 , 1))
print(round(123.45 , 2))

123.5
123.45

In [44]:
# 올림
print(math.ceil(1.1))
print(math.ceil(1.9))

2
2

In [46]:
# 내림
print(math.floor(1.1))
print(math.floor(1.9))

1
1

In [47]:
# 메모리에 있는 변수 보기
dir()

['In',
 'Out',
 '_',
 '_19',
 '_20',
 '_21',
 '_22',
 '_23',
 '_24',
 '_25',
 '_28',
 '_30',
 '_31',
 '_32',
 '_33',
 '_34',
 '_35',
 '_37',
 '_39',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__vsc_ipynb_file__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'lotto_list',
 'math',
 'os',
 'quit',
 'random',
 'sys',
 'var01',
 'var02']

In [48]:
var01

3

In [49]:
# 메모리에 있는 변수 제거
del var01

In [50]:
var01 # 지웠으니 없음

NameError: name 'var01' is not defined

### 관계연산자

In [51]:
num1 = 100
num2 = 20

In [53]:
print(num1 == num2)
print(num1 != num2)
print(num1 > num2)
print(num1 < num2)
print(num1 >= num2)
print(num1 <= num2)

False
True
True
False
True
False

### 논리 연산자

In [56]:
print((num1 >= 50) & (num2 <= 10))
print((num1 >= 50) | (num2 <= 10))
print((num1 >= 50) and (num2 <= 10))
print((num1 >= 50) or (num2 <= 10))

False
True
False
True

In [59]:
# 부정 연산자
not(num1 >= 50)

False

In [61]:
# OS 명령어 사용 !
!ls

01.Preview.ipynb
02.변수와 자료형.ipynb
=

In [66]:
# 문자열
var01 = "'Hello World!'"
var01

"'Hello World!'"

In [68]:
var01 = """ 
    Hello World!
    12345
    대한민국
"""
var01
print(var01)

    Hello World!
    12345
    대한민국

In [72]:
# 쌍따옴표와 홑따옴표의 사용 
var01 = "My father's wife is my mother"
var02 = 'He says "I love you."'
print(var01)
print(var02)

My father's wife is my mother
He says "I love you."

In [75]:
# 문자열 연산
var01 = "Python"
var02 = "is fun."

print(var01 + var02) # 띄어쓰기 없음
print(var01, var02) # 띄어쓰기 기본 설정 되어있음

Pythonis fun.
Python is fun.

In [76]:
# 문자열 연산 ( 곱셈 )
print(var01 * 3)

PythonPythonPython

In [77]:
print("=" * 20)
print(var01)
print("-" *20)

====================
Python
--------------------

In [84]:
# 문자열 indexing(list의 인덱스)과 Slicing(범위 정할때 사용)
str = "abcdefghijklmn"

print(str[0]) # indexing , 자동으로 listing이 된다
print(str[0:3]) # slicing , 0부터 3개
print(str[-1]) # 끝에서 1번째
print(str[5:]) # 5번째 부터 끝까지 다
print(str[:5]) # 처음부터 5개 글자
print(str[0] + str[1] + str[3])
print(str[5:-2])

a
abc
n
fghijklmn
abcde
abd
fghijkl

In [86]:
str = "20221229Snow"
year = str[:4]
day = str[4:8]
weather = str[-4:]

print( year , day , weather)
# 2022, 1229 Snow

2022 1229 Snow

In [90]:
str = "abbde"

# abcde
print(str[:2] + 'c' + str[-2:])

abcde

### 문자열 formatting

In [95]:
print("I have %d apples"%2)
print("I have %s apples." %"two")

I have 2 apples
I have two apples.

In [99]:
number = 2
fruit = "apples"
print("I have %d %s."%(number , fruit))

I have 2 apples.

In [103]:
# 문자열 정렬
print("I have 2 %10s."%"apples") # 좌측 빈칸
print("I have 2 %-10s."%"apples") # 우측 빈칸

I have 2     apples.
I have 2 apples    .

In [14]:
print("%0.4f" %3.14159)
print("%8.4f" %3.14159) # 10개 빈칸
print("%f"%3.141592)
print("%s"%3.141592)

3.1416
  3.1416
3.141592
3.141592

### 문자열 관련 함수

In [111]:
# 문자 count
str = "I have a dream."
print(str.count('a')) # 'a' 글자가 몇개 있냐
print(len(str)) # 글자 길이 (공백 포함)

3
15

In [120]:
# 문자 위치 알려주기
# scapy 할떄 자주 사용
print(str.find('e')) # 인덱스 번호
print(str.find('a')) # 인덱스 번호
print(str.find('x')) # 없는 글자를 찾을 때는 -1로 나옴

str[str.find('e')]

5
3
-1

'e'

In [127]:
# 문자열 삽입
str = ","
str.join('abcde')

str01 = '*'
str01.join('hello')

'h*e*l*l*o'

In [123]:
# 소문자를 대문자로
str = "hi"
str.upper()

'HI'

In [125]:
# 대문자를 소문자로
str = 'HI'
str.lower()

'hi'

In [129]:
# 공백 지우기
str = '            hi'
str.lstrip()

'hi'

In [132]:
# 공백 지우기
str = 'hi            '
str.rstrip()

'hi'

In [133]:
# 공백 지우기
str = '            hi            '
str.strip()

'hi'

In [135]:
# 문자열 바꾸기
str = 'Life is too short to be happy.'
str.replace('happy', 'unhappy')

'Life is too short to be unhappy.'

In [142]:
# 문자열 나누기 
str01 = 'Life is too short to be happy.'
str01.split()
list01 = str01.split() # 공백을 기준으로 나눈다
type(list01)
list01

['Life', 'is', 'too', 'short', 'to', 'be', 'happy.']

In [144]:
len(list01)

7

In [146]:
str02 = 'a:b:c:d'
str02.split(':') # : 기준으로 나눈다

['a', 'b', 'c', 'd']

### 고급 문자열 Formattong

In [150]:
# 숫자 바로 대입하기
"I have {0} apples.".format(3)

'I have 3 apples.'

In [152]:
"I have {0} apples.".format("three")

'I have three apples.'

In [15]:
number = 10
day = "three"
" I have {0} apples, I will go aborad for three days.".format(number)

' I have 10 apples, I will go aborad for three days.'

In [18]:
# 왼쪽 정렬
'{0:<10}'.format("hi")

'hi   '

In [17]:
# 오른쪽 정렬
'{0:>10}'.format("hi")

'        hi'

In [20]:
# 가운데 정렬
'{0:^6}'.format("hi")

'  hi  '

In [21]:
'{0:=^6}'.format("hi")

'==hi=='

### f문자열 formatting (Python 3.6 이상)

In [167]:
# f문자열 formatting (Python 3.6 이상)
# 최근에 많이 사용
name = '홍길동'
age = 30
f'나의 이름은 {name} 이고 나이는 {age}세 입니다.'

'나의 이름은 홍길동 이고 나이는 30세 입니다.'

In [168]:
f'나는 내년이면 {age + 1}살 입니다.'

'나는 내년이면 31살 입니다.'

### 날짜형 변환

In [22]:
# 날짜형 모듈 불러오기
from datetime import datetime, timedelta

In [23]:
time1 = datetime(2022, 12, 25, 0, 0, 0) # 년 울 일 시 분 백만분의 초 milli
print(time1)

2022-12-25 00:00:00

In [24]:
# 날짜 계산하기
time2 = datetime.now()
print(time2)
print(time1 - time2)

2022-07-29 00:41:13.393806
148 days, 23:18:46.606194

In [25]:
# 좀 더 편리하게 출력
print((time1 - time2).days , '일')
print((time1 - time2).seconds , '초')

148 일
83926 초

In [39]:
23 * 60 * 60 + 18 * 60 + 46

83926

In [184]:
# 시간으로 확인하기
(time1 - time2).days * 24 + math.floor((time1 - time2).seconds / 60 / 60)

4447

In [188]:
# 특정 날짜로부터 시간 계산
time2 + timedelta(days= -5) # 5일 전
time2 + timedelta(days= 5) # 5일 후

datetime.datetime(2022, 6, 27, 16, 16, 55, 496814)

In [40]:
print(time2 + timedelta(days=1 ,hours=-2))

2022-07-29 22:41:13.393806

---