# 리스트 자료형
### 리스트명 = [요소1 , 요소2, ...]

In [1]:
# 리스트 자료형 선언
var01 = []
var02 = [1,2,3]
var03 = ['I' , 'have' , 'a' , 'dream']
var04 = [1 , 2 , 'Dream' , 'True']
var05 = [1, 2, ['Dream' , 'True']]

In [2]:
print(var01)
print(var02)
print(var03)
print(var04)
print(var05)

[]
[1, 2, 3]
['I', 'have', 'a', 'dream']
[1, 2, 'Dream', 'True']
[1, 2, ['Dream', 'True']]

In [10]:
# var05에서 'Dream'만 출력하기
var05[2][0]
var05[-1][0]
print(var05[2][0])

Dream

In [14]:
var = [1,2,['a','b',['Dream','True']]]
# Dream
var[-1][-1][0]

'Dream'

### 리스트의 연산

In [32]:
var01 = [1,2,3]
var02 = [4,5,6]
var01 + var02

[1, 2, 3, 4, 5, 6]

In [35]:
# 리스트의 덧셈 : for문으로 구성해보기
var03 = []
for i in range(0,len(var01)):
    print(var01[i] + var02[i])
    var03.append(var01[i] + var02[i])

var03

5
7
9

[5, 7, 9]

In [80]:
var = [1,2,3]
var[2] = 4 
var

[1, 2, 4]

In [81]:
# [1, 'a', 'b', 'c', 4] 모양으로 만들기 
print(var[1])
print(var[1:2]) # list

var[1:2] = ['a', 'b', 'c']
var

2
[2]

[1, 'a', 'b', 'c', 4]

In [82]:
# [1, 'c' , 4] 모양으로 만들기
var[1:4] = 'c'
# 또는
# var[1:3] = [] 
var

[1, 'c', 4]

In [83]:
del var[1]
var

[1, 4]

### 리스트 관련 함수

In [84]:
var = [1,2,3]
var.append(4)
var

[1, 2, 3, 4]

In [85]:
var.append([5,6])
var

[1, 2, 3, 4, [5, 6]]

In [88]:
# 리스트 정수 정렬
var = [1, 4, 3, 2]
var.sort() # 오름차순 정렬
print(var)

var.reverse() # 내림차순 정렬
print(var)

[1, 2, 3, 4]
[4, 3, 2, 1]

In [90]:
# 리스트의 위치정보
var = [4, 5, 6]
var.index(5) # 5라는 데이터의 인덱스 값

1

In [102]:
# 리스트에 요소 삽입
var = [1, 2, 3]
var.insert(0 , 4) # index 0 번지에 값 4를 추가한다
var

[4, 1, 2, 3]

In [103]:
# 리스트에서 요소 제거
var.remove(4) # 인덱스가 아니라 데이터 값을 넣어야 한다
# 값이 여러개 있으면 제일 첫번째 데이터만 제거 된다
var

[1, 2, 3]

In [104]:
var.pop() # 마지막 값을 제거
var

[1, 2]

In [106]:
var = [1,2]
# var.append([3,4]) # 리스트 in 리스트 
var.extend([3,4]) # 뒤에 이어서 확장 , 리스트로 들어가지 않음
var

[1, 2, 3, 4]

---